<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="shop.css"/>
    <title>Virtual Exhibtion Space</title>
  </head>
  <body>
    <div class="grid-container">
      <header class="row">
        <div>
          <a href="home.html">Home</a>
        </div>
        <div>
          <a href="shop.html">Shop</a>
        </div>
        <div>
          <a href="artists.html">Artists</a>
        </div>
        <div>
          <a href="exhibitions.html">Exhibitions</a>
        </div>
        <div>
          <a href="aboutus.html">About Us</a>
        </div>
      </header>
      <main>
        <div class="row center">
          <div class="card">
            <a href="product.html">
              <img class="medium" src="./images/artwork1.png" alt="Artwork 1"/>
            </a>
            <div class="card-body">
              <a href="product.html">
                <h1>Artwork 1</h1>
              </a>
              <div class="artist">
                <h2>Yamshiro</h2>
              </div>
              <div class="price">$120</div>
            </div>
          </div>
          <div class="card">
            <a href="product.html">
              <img class="medium" src="./images/artwork2.png" alt="Artwork 1"/>
            </a>
            <div class="card-body">
              <a href="product.html">
                <h1>Artwork 2</h1>
              </a>
              <div class="artist">
                <h2>Yamshiro</h2>
              </div>
              <div class="price">$120</div>
            </div>
          </div>
          <div class="card">
            <a href="product.html">
              <img class="medium" src="./images/artwork3.png" alt="Artwork 1"/>
            </a>
            <div class="card-body">
              <a href="product.html">
                <h1>Artwork 3</h1>
              </a>
              <div class="artist">
                <h2>Yamshiro</h2>
              </div>
              <div class="price">$120</div>
            </div>
          </div>
          <div class="card">
            <a href="product.html">
              <img class="medium" src="./images/artwork4.png" alt="Artwork 1"/>
            </a>
            <div class="card-body">
              <a href="product.html">
                <h1>Artwork 4</h1>
              </a>
              <div class="artist">
                <h2>Yamshiro</h2>
              </div>
              <div class="price">$120</div>
            </div>
          </div>
          <div class="card">
            <a href="product.html">
              <img class="medium" src="./images/artwork5.png" alt="Artwork 1"/>
            </a>
            <div class="card-body">
              <a href="product.html">
                <h1>Artwork 5</h1>
              </a>
              <div class="artist">
                <h2>Yamshiro</h2>
              </div>
              <div class="price">$120</div>
            </div>
          </div>
          <div class="card">
            <a href="product.html">
              <img class="medium" src="./images/artwork6.png" alt="Artwork 1"/>
            </a>
            <div class="card-body">
              <a href="product.html">
                <h1>Artwork 6</h1>
              </a>
              <div class="artist">
                <h2>Yamshiro</h2>
              </div>
              <div class="price">$120</div>
            </div>
          </div>
        </div>
      </main>
      <footer class="row center">
        All rights reserved @2020
      </footer>
    </div>
  </body>
</html>
