html {
  font-size: 62.5%;
  /* 16px x 62.5 = 10px = 1rem */
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

/* Layout */
.grid-container {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}

header {
  grid-area: header;
  background-color: bisque;
}

main {
  grid-area: main;
  padding: 1rem;
}

footer {
  grid-area: footer;
  background-color: bisque;
  color: chocolate;
}

/*Common classes*/
h1 {
  font-size: 2rem;
  margin-top: 0;
}

h2 {
  font-size: 1.6rem;
  margin-top: 0;
}

a {
  text-decoration: none;
}

a:hover {
  color: grey;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

li {
  margin-top: 1rem; 
}

button {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem lightblue solid;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: lightblue;
  cursor: pointer;
}

button.primary {
  background-color: lightblue;
}

button.block {
  width: 100%;
}

button:hover {
  border: 0.1rem blue solid;
}

/* Header */
header a {
  color: coral;
  padding: 1rem;
  font-size: 2rem;
  font-weight: bold;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.row.center {
  justify-content: center;
}

.row.top {
  align-items: flex-start;
}

.col-1 {
  flex: 1 1 25rem;
}

.col-2 {
  flex: 2 1 50rem;
}

/* Image */
img {
  border-radius: 0.5rem;
  align-items: center;
}

img.medium {
  width: 300px;
  height: 300px;
  justify-content: center;
  align-items: center;
}

img.large {
  width: 100%;
  justify-content: center;
  align-items: center;
}

/* Card */
.card {
  border: 0.1rem rgb(194, 194, 194) solid;
  background-color: rgb(228, 228, 228);
  border-radius: 0.5rem;
  margin: 1rem;
}

.card-body {
  padding: 1rem;
}

.card-body>* {
  margin-bottom: 0.5rem;

}

.price {
  font-size: 1.6rem;
  margin-top: 0;
}
